* {
    margin: 0;
    padding: 0;
    background-color: #0C090A;
}

body {
    display: grid;
    color: white;
    padding: 16%;
    padding-top: 6%;
    padding-bottom: 6%;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.header {
    display: flex;
    flex-flow:row nowrap;
    padding-bottom: 50px;
}

.header-info {
    padding-left: 30px;
    display: flex;
    flex-flow:column nowrap;
}

.header-info h1 {
    font-size: 3.2vw;
}

.header-info p {
    font-size: 2.2vw;
}

.logo {
    width: 12vw;
    align-self: center;
}

.project img {
    padding:20px;
    width:100%;
    border-radius: 50px;
}

.footer {
    display:flex;
    justify-content: space-around;
    padding-bottom: 2vh;
    padding-top: 1vh;
    padding-left: 2%;
}

.footer a, h2 {
    color:gray;
    text-decoration: none;
    font-size:2vw;
    font-weight: 100;
}

