* {
    margin: 0;
    padding: 0;
    background-color: #0C090A;
}

body {
    display: grid;
    color: white;
    padding: 400px;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.header {
    display: grid;
    grid-template-columns: 230px 1fr;
}

.header-info {
    padding-left: 10px;
}

.header-info h1 {
    font-size: 64px;
}

.header-info p {
    font-size: 48px;
}

.logo {
    height: 185px;
    width: auto;
}